[Desktop Entry]
Name=Via
GenericName=Cloud Storage Client
Comment=A Google Drive desktop client for Linux
Exec=via %F
Icon=via
Terminal=false
Type=Application
Categories=Network;FileTransfer;
Keywords=google;drive;cloud;sync;storage;
StartupWMClass=via
MimeType=application/x-via-gdoc;application/x-via-gsheet;application/x-via-gslides;application/x-via-gdraw;application/x-via-gdrive;
